body{
  background-color: #7A9D96;
  font-family: Verdana;
  font-size: 18px;
  text-align: center;
}
.signtre{
  text-align: center;
}
.button{
  background-color: #7A9D96;
  color: #000;
  margin: 0 auto;
}
.button:hover{
  background-color: #000;
  color: #7A9D96;
}
.centerBlock{
  position: relative;
  border: 3px solid #000;
  padding: 1%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 27%;
  height: 90%;
  font-family: Consolas, monaco, monospace;
  font-size: 18px;
  color: #000;
  background-color: #CAE4DB;
  border: 10px outset #DCAE1D;
  border-radius: 30px;
  box-shadow: 0px 3px 10px 0px #00303f;
  margin: 0px auto;
  margin-top: 20px;
}
.left{
  float: left;
}

.right{
  float: right;
}
.center{
  text-align: center;
}
